<%= @environment %>:
  mapbox_access_token: <%= @pr_mapbox_access_token %>
  mapbox_county_map: <%= @pr_mapbox_county_map %>
  mapbox_diocese_map: <%= @pr_mapbox_diocese_map %>
  mapbox_city_map: <%= @pr_mapbox_city_map %>
  local_county_map: <%= @pr_local_county_map %>
  local_diocese_map: <%= @pr_local_diocese_map %>
  local_city_map: <%= @pr_local_city_map %>
  map_server_type: <%= @pr_map_server_type %>
  image_server_ip: <%= @pr_image_server_ip %>
  image_server_fcgi_path: <%= @pr_image_server_fcgi_path %>
  divaserve_ip: <%= @pr_divaserve_ip %>
  divaserve_path: <%= @pr_divaserve_path %>
  image_url_path: <%= @pr_image_url_path %>
  use_static_jpgs: <%= @pr_use_static_jpgs %>
  contact_mail_to: <%= @pr_feedback_email %>
  valid_locales:
    - 'en'
    - 'ga'
